.about-close {
  position: sticky;
  top: 3rem;
  left: calc(97.5% - 40px);
  width: 40px;
  z-index: 10000;
}
.about-close .icn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.about-close .icn span {
  background-color: #002D3C;
  height: 2px;
  width: 30px;
  position: absolute;
  transition: transform 0.63s cubic-bezier(0.18, 0.7, 0.34, 0.89), opacity 0.63s;
}
.about-close .icn span:nth-child(1) {
  transform: rotate(45deg);
}
.about-close .icn span:nth-child(2) {
  opacity: 0;
}
.about-close .icn span:nth-child(3) {
  transform: rotate(-45deg);
}

.about-me-mobile {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  display: none;
  overflow-y: auto;
  opacity: 0;
  z-index: 1232131231;
  background-color: #f8faff;
  overflow-x: hidden;
  transition: opacity 0.63s cubic-bezier(0.18, 0.7, 0.34, 0.89);
  margin-bottom: 60px;
  color: #002D3C;
}
.about-me-mobile .section-wrapper {
  position: relative;
  left: 5% !important;
  top: 30px !important;
  padding-bottom: 20px;
}
.about-me-mobile .section-img {
  position: relative !important;
  width: 100% !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 300px !important;
  padding-bottom: 15px;
}
.about-me-mobile .section-img img {
  width: 100%;
  position: relative;
  height: 100%;
}
.about-me-mobile .photo-10 {
  height: 400px !important;
}

.about-me {
  width: 100%;
  height: 1300px;
  position: absolute;
  top: 950px;
  left: 0;
}
.about-me .section-wrapper {
  top: 0;
}
.about-me .section-wrapper .section-title {
  font-size: 2.5rem;
}
.about-me .section-wrapper .section-bio {
  font-size: 1.2rem;
  width: 40vw;
  max-width: 762px;
}
.about-me .section-wrapper .section-bio .read-more {
  display: none;
}
.about-me .section-wrapper .section-bio .read-more .read-more-btn {
  width: 120px;
  background-color: #002D3C;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  left: 0;
  bottom: -20px;
  position: relative;
  z-index: 600;
  margin-left: 0;
}
.about-me .section-wrapper .section-bio .read-more .bio-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  z-index: 9999;
  padding: 2rem 1.2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.about-me .section-wrapper .section-bio .read-more .bio-overlay .close-btn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: white;
  z-index: 10000;
}
.about-me .section-wrapper .section-bio .read-more .bio-overlay .bio-content {
  margin-top: 3rem;
  font-size: 1.05rem;
  line-height: 1.6;
}
.about-me .section-wrapper .section-bio .read-more .bio-overlay .bio-content p {
  margin-bottom: 1.2rem;
}
.about-me .section-wrapper .section-bio .full-bio {
  display: block;
}
.about-me .section-wrapper .section-bio p {
  margin-bottom: 20px;
}
.about-me .section-img {
  position: absolute;
  left: unset;
}
.about-me .img-class-1 {
  width: 200px;
  height: 300px;
}
.about-me .img-class-2 {
  width: 300px;
  height: 550px;
}
.about-me .img-class-3 {
  width: 450px;
  height: 700px;
}
.about-me .img-top-right {
  top: 0;
  right: 50px;
}
.about-me .img-middle-right {
  top: 660px;
  right: 57px;
}
.about-me .img-bottom-right {
  top: 1188px;
  right: 151px;
}
.about-me .img-top-left {
  top: 18px;
  right: 490px;
}
.about-me .img-middle-left {
  top: 297px;
  right: 485px;
}
.about-me .img-bottom-left {
  top: 805px;
  right: 343px;
}
@media screen and (max-width: 1700px) {
  .about-me .img-top-right {
    top: 0;
    right: 50px;
  }
  .about-me .img-middle-right {
    top: 660px;
    right: 57px;
  }
  .about-me .img-bottom-right {
    top: 1188px;
    right: 62px;
  }
  .about-me .img-top-left {
    top: 675px;
    right: 358px;
    display: none;
  }
  .about-me .img-middle-left {
    top: 297px;
    right: 485px;
    display: none;
  }
  .about-me .img-bottom-left {
    top: 805px;
    right: 343px;
    display: none;
  }
}
@media screen and (max-width: 1500px) {
  .about-me .section-wrapper .section-bio {
    font-size: 1.1rem !important;
  }
}
@media screen and (max-width: 1300px) {
  .about-me .section-wrapper .section-bio {
    font-size: 0.97rem !important;
  }
}
@media screen and (max-width: 1000px) {
  .about-me .section-img {
    display: none;
  }
  .about-me .section-wrapper .section-bio {
    width: 80vw !important;
    max-width: 1300px !important;
  }
}
@media screen and (max-width: 767px) {
  .about-me .section-wrapper {
    top: 90px;
  }
  .about-me .read-more {
    display: block !important;
  }
  .about-me .full-bio {
    display: none !important;
  }
}

/*# sourceMappingURL=AboutMe.css.map */
