.about-me
  width: 100%
  height: 1300px
  position: absolute
  top: 950px
  left: 0
  .section-wrapper
    top: 0
    .section-title
      font-size: 2.5rem
    .section-bio
      font-size: 1.2rem
      width: 40vw
      max-width: 762px
      .read-more
        display: none
      .full-bio
        display: block
      p
        margin-bottom: 20px
  .section-img
    position: absolute
    left: unset
  .img-class-1
    width: 200px
    height: 300px
  .img-class-2
    width: 300px
    height: 550px
  .img-class-3
    width: 450px
    height: 700px
  .img-top-right
    top: 0
    right: 50px
  .img-middle-right
    top: calc(10px + 650px)
    right: 57px
  .img-bottom-right
    top: calc(18px + 650px + 520px)
    right: 151px
  .img-top-left
    top: 18px
    right: 490px
  .img-middle-left
    top: calc(7px + 290px)
    right: 485px
  .img-bottom-left
    top: 805px
    right: 343px
  @media screen and (max-width: 1700px)
    .img-top-right
      top: 0
      right: 50px
    .img-middle-right
      top: calc(10px + 650px)
      right: 57px
    .img-bottom-right
      top: calc(18px + 650px + 520px)
      right: 62px
    .img-top-left
      top: 675px
      right: 358px
      display: none
    .img-middle-left
      top: calc(7px + 290px)
      right: 485px
      display: none
    .img-bottom-left
      top: 805px
      right: 343px
      display: none
  @media screen and (max-width: 1500px)
    .section-wrapper
      .section-bio
        font-size: 1.1rem !important
  @media screen and (max-width: 1300px)
    .section-wrapper
      .section-bio
        font-size: .97rem !important
  @media screen and (max-width: 1000px)
    .section-img
      display: none
    .section-wrapper
      .section-bio
        width: 80vw !important
        max-width: 1300px !important
  @media screen and (max-width: 767px)
    .section-wrapper
      top: 150px
    .read-more
      display: block !important
    .full-bio
      display: none !important

