$accent: #3198A5
$light-bg: #F4F4F4
$dark: #002D3C

.helpgebieden
  width: 100%
  position: absolute
  top: 2500px
  left: 0

  .section-wrapper
    top: 0
    left: 50%
    transform: translateX(-50%)
    width: 1000px
    justify-content: center
    align-items: center
    display: flex
    flex-direction: column

    .section-title
      text-align: center

    .section-bio
      font-size: 1.2rem
      width: 750px
      text-align: center

      p
        margin-bottom: 20px

  .items-wrapper
    width: 1300px
    position: relative
    margin: 325px auto 0
    display: flex
    flex-direction: row
    justify-content: space-around

    .item
      width: 350px
      background-color: $accent
      border-radius: 40px
      padding-right: 10px
      padding-bottom: 10px
      position: relative
      display: flex

      .item-content
        background-color: $light-bg
        border-radius: 40px
        transform: translate(-5px, -5px)
        padding: 30px
        font-family: "Inter", sans-serif
        font-weight: 700
        color: $dark
        display: flex
        flex-direction: column

        .title
          font-size: 1.1rem
          text-align: left
          margin-bottom: 20px

        .bio
          font-weight: 400
          font-size: .9rem
          text-align: left
