.hero
  width: 100vw
  height: 100vh
  position: absolute
  top: 0
  left: 0
  background-color: gray
  .hero-wrapper
  .hero-img
    width: 400px
    height: 600px
    background-color: red
    position: absolute
    right: 500px
    top: 200px