.section {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.section .section-img {
  width: 630px;
  height: 630px;
  max-width: 700px;
  background-color: #3198A5;
  position: absolute;
  z-index: 3;
  left: 1050px;
  top: 170px;
  border-radius: 40px;
  transform: scale(0.9);
  transition: transform 1.3s cubic-bezier(0.18, 0.7, 0.34, 0.89), opacity 2s cubic-bezier(0.18, 0.7, 0.34, 0.89);
}
.section .section-img img {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  top: -15px;
  background-color: #F4F4F4;
  position: absolute;
  left: -15px;
  border-radius: 40px;
  will-change: width;
  transition: width 1.3s cubic-bezier(0.18, 0.7, 0.34, 0.89), height 1.3s cubic-bezier(0.18, 0.7, 0.34, 0.89);
}
.section .section-wrapper {
  left: 200px;
  top: 300px;
  width: 750px;
  height: 400px;
  position: absolute;
  color: #002D3C;
  font-family: "Inter", sans-serif;
}
.section .section-wrapper .section-title {
  font-weight: 700;
  font-size: 3.6rem;
  text-align: left;
}
.section .section-wrapper .section-bio {
  font-weight: 400;
  text-align: left;
  left: 20px;
  padding-top: 20px;
  position: relative;
  font-size: 1.2rem;
}
.section .section-wrapper .hero-cta-container {
  position: relative;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
}
.section .section-wrapper .hero-cta-container .hero-cta {
  width: 200px;
  height: 60px;
  position: relative;
  border-radius: 40px;
  border: 0.1vw solid #002D3C;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 40px;
}
@media screen and (max-width: 1550px) {
  .section .section-img {
    left: unset;
    right: 50px !important;
    height: 500px;
    width: 33%;
    top: 210px;
  }
  .section .section-wrapper {
    width: 570px;
    left: 100px;
  }
  .section .section-wrapper .section-title {
    font-size: 2.8rem;
  }
  .section .section-wrapper .section-bio {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1100px) {
  .section .section-img {
    left: unset;
    right: 50px !important;
    height: 400px;
    top: 230px;
  }
  .section .section-wrapper {
    width: 410px;
    left: 60px;
  }
  .section .section-wrapper .section-title {
    font-size: 2rem;
  }
  .section .section-wrapper .section-bio {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 767px) {
  .section .section-img {
    left: 10%;
    width: 82%;
    margin-top: 43px;
    height: 500px;
    top: 400px;
    position: relative;
  }
  .section .section-wrapper {
    width: calc(85% - 20px);
    left: 50%;
    top: 160px;
    transform: translateX(-50%);
  }
  .section .section-wrapper .section-title {
    font-size: 1.7rem;
    text-align: left;
  }
  .section .section-wrapper .section-bio {
    font-size: 1.3rem;
    text-align: left;
  }
  .section .section-wrapper .hero-cta-container .hero-cta {
    display: none;
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 430px) {
  .section .section-img {
    left: 10%;
    width: 82%;
    margin-top: 43px;
    height: 430px;
    top: 440px;
    position: relative;
  }
  .section .section-wrapper {
    width: calc(85% - 20px);
    left: 50%;
    top: 160px;
    transform: translateX(-50%);
  }
  .section .section-wrapper .section-title {
    font-size: 1.4rem;
    text-align: left;
  }
  .section .section-wrapper .section-bio {
    font-size: 1.3rem;
    text-align: left;
  }
  .section .section-wrapper .hero-cta-container .hero-cta {
    font-size: 0.7rem !important;
  }
}
@media screen and (max-width: 385px) {
  .section .section-img {
    top: 550px;
  }
}

/*# sourceMappingURL=Hero.css.map */
