.Ondersteuningsvormen
  width: 100vw
  height: 100vh
  position: absolute
  top: 350vh
  left: 0
  .section-wrapper
    top: -10vh
    left: 50vw
    transform: translateX(-50%)
    width: 80vw
    justify-content: center
    align-items: center
    display: flex
    flex-direction: column
    .section-title
      text-align: center
    .section-bio
      font-size: .95vw
      width: 40vw
      text-align: center
      p
        margin-bottom: 2vh