.fade-in
  opacity: 0
  transition: opacity 2s cubic-bezier(.18, .7, .34, .89) 1s
  will-change: opacity, transform

.content-container
  overflow-x: hidden
  overflow-y: hidden
  position: absolute
  background-color: white
  top: 0
  left: 0
  box-shadow: -10px 0 15px -5px rgba(0, 45, 60, 0.7), 10px 0 15px -5px rgba(0, 45, 60, 0.7)


.content-container, body, #root
  height: 7420px
  transition: height .3s cubic-bezier(.18, .7, .34, .89)

  @media screen and (max-width: 1560px)
    height: 8020px
    transition: none !important

  @media screen and (max-width: 1400px)
    height: 7420px

  @media screen and (max-width: 1150px)
    height: 7520px
  @media screen and (max-width: 1000px)
    height: 7220px
  @media screen and (max-width: 900px)
    height: 7420px
  @media screen and (max-width: 850px)
    height: 7720px
  @media screen and (max-width: 768px)
    height: 7400px
  @media screen and (max-width: 740px)
    height: 7500px
  @media screen and (max-width: 660px)
    height: 7800px
  @media screen and (max-width: 640px)
    height: 7900px
  @media screen and (max-width: 610px)
    height: 8000px
  @media screen and (max-width: 596px)
    height: 8100px
  @media screen and (max-width: 571px)
    height: 8350px
  @media screen and (max-width: 544px)
    height: 8550px
  @media screen and (max-width: 523px)
    height: 8750px
  @media screen and (max-width: 486px)
    height: 8900px
  @media screen and (max-width: 480px)
    height: 9200px
  @media screen and (max-width: 439px)
    height: 9300px
  @media screen and (max-width: 425px)
    height: 9700px
  @media screen and (max-width: 390px)
    height: 9900px
  @media screen and (max-width: 369px)
    height: 10000px
  @media screen and (max-width: 360px)
    height: 10200px
  @media screen and (max-width: 300px)
    height: 10400px