.content-container
  height: 100%
  overflow-x: hidden
  position: absolute
  background-color: white
  top: 0
  overflow-y: hidden
  left: 0
  box-shadow: -10px 0 15px -5px rgba(0, 45, 60, 0.7), 10px 0 15px -5px rgba(0, 45, 60, 0.7)
